<header class="Header">
    <div class="Header-container">
        <div class="Header-imageContainer">
            <img class="Header-image" src="/assets/images/profile.jpeg" alt="Profile Picture">
        </div>
        {% include title-component.html title="Duber Montoya" size="large" %}
        {% include star-component.html %}
        <span class="Header-skills">
            A full-stack developer. I am passionate about JavaScript, React, Next and Node.js
        </span>
    </div>

</header>



