<nav class="NavigationBar">
    <div class="NavigationBar-brandContainer">
        <a class="NavigationBar-brand" href="/">dfm555</a>
        <div id="hamburger" class="NavigationBar-hamburgerContainer">
            <div class="NavigationBar-hamburger">
                <div class="NavigationBar-hamburgerLine"></div>
                <div class="NavigationBar-hamburgerLine"></div>
                <div class="NavigationBar-hamburgerLine"></div>
            </div>
        </div>
    </div>
    <div class="NavigationBar-menuContainer">
        <ul class="NavigationBar-menu">
            <li class="NavigationBar-menuList"><a href="#portfolio">Portfolio</a></li>
            <li class="NavigationBar-menuList"><a href="#about">About</a></li>
            <li class="NavigationBar-menuList"><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>
